<div class="main-container">
<main>
  <div class="inc-dec-container">
    <button (click)="decrement()">-</button>
    <p>{{ counter | async }}</p>
    <button (click)="increment()">+</button>
  </div>
  <span (click)="reset()" class="counter-reset-btn">
    <img [class]="resetBool? 'spin-icon':''" src="assets/reset-ico.svg" alt="reset-icon">
    <span>Reset counter</span>
  </span>
  <span [class]="counterLogicService.minimumCounterReached?'show-hidden-item':''" class="error-info">
    sorry, you cannot go beyond Zero
  </span>
</main>
</div>